:root {
  --container-width: 1340px;
  --container-padding: 24px;

  --font-main: sans-serif;
  --bs-font-family: "Manrope", sans-serif;
  --alt-font-family: "Risque", serif;

  // palette
  --black: #000;
  --white: #fff;
  --blue: #141429;
  --red: #d02b2b;
  --grey: #cecece;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}
